/* @import './base.css';

/* #app {
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: rgb(69, 77, 69);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(180, 100%, 100%, 0.942);
  }
}

 */
